body{
     color: rgb(255, 255, 255);
}
.sideBar{
     width: 29%;
     background-color: #418198;
     overflow: hidden;
}
.mainBody{
     width: 30%;
     background-color: #418198;
}

.left-div {
     width: 30%;
     float: left;
     background-color: lightblue;
     height: 300px; /* Adjust height as needed */
 }
 
 .right-div {
     width: 70%;
     float: left;
     background-color: lightgreen;
     height: 300px; /* Adjust height as needed */
 }

.block_element {
     width: 355px;
     background-color: lightblue;
     margin-left: auto;
     margin: 0 auto;
     text-align: center;
     padding: 35px;
}

/* Add a black background color to the top navigation */
.topnav {
     background-color: #0b431b;
     overflow: hidden; /* The overflow is clipped, and the rest of the content will be invisible */ 
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     background-color: #ddd;
     color: black;
   }
   
   /* Add a color to the active/current link */
   .topnav a.active {
     background-color: #04AA6D;
     color: white;
   }