body{
     color: red;
}
.sideBar{
     width: 29%;
     background-color: #333;
     overflow: hidden;
}
.mainBody{
     width: 30%;
     background-color: blueviolet;
}

.left{
 float: left;
  padding-right:15px;   
}

.right{
 float: right;
  padding-left:15px;   
}
.block_element {
     width: 355px;
     background-color: lightblue;
     margin-left: auto;
     margin: 0 auto;
     text-align: center;
     padding: 35px;
}

/* Add a black background color to the top navigation */
.topnav {
     background-color: #333;
     overflow: hidden;
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     background-color: #ddd;
     color: black;
   }
   
   /* Add a color to the active/current link */
   .topnav a.active {
     background-color: #04AA6D;
     color: white;
   }